@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
}

.style-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.text-custom {
  padding: 0;
  margin: 0;
}

.footer {
  height: 40vh;
  width: 100%;
}

.btn-more {
  border-radius: 13px;
  padding: 5px 20px;
  width: 100%;
}

.hitam {
  color: black;
}

.content-css {
  margin: auto;
}

/* .badgee { 
  left:90%;
} */

.width-80-persen {
  width: 80%;
}

.width-content-popular {
  width: 100%;
}

.pointer { 
  cursor: pointer;
}

.show-detail:active {
  background-color : black;
}

.font-header {
  font-size : 30px;
}

.gambar-popular {
    width: 55%;
    height: 40%;
  }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 600px) {

  .badgee {
    left: 20%;
  }


}

@media screen and (max-width: 375px) {

  .badgee {
    left: 20%;
  }


}

@media screen and (min-width: 1000px) {
  .navlink {
    display: flex;
    justify-content: flex-end;
    background-color: blue;
  }

  .gambar-popular {
    width: 55%;
    height: 40%;
  }

  .content-css {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 5px;
  }


  .padding-lf {
    width: 70%;
  }

  .header-center {
    text-align: center; 
  }

  .badgee {
    left: 82%;
  }

  .cart-size {
    width: 80%;
  }

  .button-checkout {
    width: 80%;
  }

  .button-checkout-size {
    width: 20%;
  }

  .total-size {
    width: 80%;
  }

}

@media only screen and (min-width: 700px) and (max-width:990px) {
  .badgee {
    left: 35%;
  }

     .height-100 {
      min-height: 100vh;
    }

  .width-50-persen {
    width: 30%;
  }
 
  .cart-size {
    width: 80%;
  }

  .button-checkout {
    width: 80%;
  }

  .button-checkout-size {
    width: 40%;
  }

  .total-size {
    width: 80%;
  }

  .width-content-popular {
    width: 50%;
  }

  .width-img-popular {
    width: 60%;
  }

  .width-text-popular{
    width: 40%;
  }

   .width-popular-cookies {
    width: 30%;
  }

  .width-content-xl {
    width: 80%;
  }

  .gambar-popular {
    width: 80%;
    height: 40%;
  }
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 @media screen and (min-width: 1000px)  and (max-width:1580px) {
   .width-50-persen {
     width: 25%;
   }
 }

 @media screen and (min-width:900px) and (max-width:1024px) {

  .gambar-popular {
    width: 80%;
    height: 40%;
  }
  .width-content-xl {
    width: 80%;
  }

   .width-50-persen {
     width: 25%;
   }

  .width-img-popular {
    width: 60%;
  }

  .width-text-popular {
    width: 40%;
  }

  .width-content-popular{
    width: 50%;
  }

  .width-popular-cookies {
    width: 30%;
  }

  .font-header {
  font-size : 45px;
}

.font-textheader {
  font-size: 20px;
}

.font-buttonheader {
  font-size: 18px;
}
  

 }

 @media screen and (min-width:1200px) and (max-width:1280px) {

   .gambar-popular {
    width: 80%;
    height: 40%;
  }
  
  .font-header {
    font-size : 45px;
  }
  
  .font-textheader {
    font-size: 20px;
  }
  
  .font-buttonheader {
    font-size: 18px;
  }

    .width-50-persen {
    width: 13%;
  }

  .width-img-popular {
    width: 60%;
  }

  .width-text-popular {
    width: 40%;
  }

  .width-content-popular{
    width: 50%;
  }

  .width-popular-cookies {
    width: 30%;
  }


 }

 @media screen and (min-width:1300px) {

  .font-header {
    font-size : 60px;
  }
  
  .font-textheader {
    font-size: 22px;
  }
  
  .font-buttonheader {
    font-size: 18px;
  }

  .width-50-persen {
    width: 12%;
  }

  .width-img-popular {
    width: 60%;
  }

  .width-text-popular {
    width: 40%;
  }

  .width-content-popular{
    width: 50%;
  }

  .width-popular-cookies {
    width: 30%;
  }

   .gambar-popular {
    width: 50%;
    height: 20%;
  }

  
 }