* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.text-custom {
  padding: 0;
  margin: 0;
}

.footer {
  height: 40vh;
  width: 100%;
}

.btn-more {
  border-radius: 13px;
  padding: 5px 20px;
}

.hitam {
  color: black;
}

.content-css {
  margin: auto;
}

/* .badgee { 
  left:90%;
} */

.pointer { 
  cursor: pointer;
}

.show-detail:active {
  background-color : black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    height:60vh;
    padding:0;
    width: 100%;
  }
  .badgee {
    left: 20%;
  }


}

@media screen and (max-width: 375px) {
  .footer {
    height:70vh;
    padding:0;
    width: 100%;
  }

  .badgee {
    left: 20%;
  }


}

@media screen and (min-width: 1000px) {
  .navlink {
    display: flex;
    justify-content: flex-end;
    background-color: blue;
  }

  .gambar-popular {
    width: 55%;
    height: 40%;
  }

  .content-css {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 5px;
  }

  
  .footer {
    height:45vh;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 40px;
    width: 100%;
  }

  .footer-item-left {
      width: 35%;
      display: inline;
  }

  .footer-item-right {
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .padding-lf {
    width: 70%;
  }

  .header-center {
    text-align: center; 
  }

  .badgee {
    left: 82%;
  }

  .cart-size {
    width: 80%;
  }

  .button-checkout {
    width: 80%;
  }

  .button-checkout-size {
    width: 20%;
  }

  .total-size {
    width: 80%;
  }

}

@media only screen and (min-width: 700px) and (max-width:990px) {
  .badgee {
    left: 35%;
  }

  .footer {
    position: absolute;
    bottom: 0;
    height:35vh;
    width: 100%;
  }

  .cart-size {
    width: 80%;
  }

  .button-checkout {
    width: 80%;
  }

  .button-checkout-size {
    width: 40%;
  }

  .total-size {
    width: 80%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
